@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --primary: #4c788a;
  --primary--dim: #e2e9ec;
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.u-poppins {
  font-family: "Poppins", sans-serif;
}

.u-primary {
  color: var(--primary);
}

.u-primary--dim {
  color: var(--primary--dim);
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-justifyLeft {
  justify-content: left;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-no-resize {
  flex-shrink: 0;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-textLeft {
  text-align: left;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-white {
  color: white;
}

.u-white-background {
  background-color: white;
}

.u-row {
  display: flex;
  flex-direction: row;
}

.u-column {
  display: flex;
  flex-direction: column;
}

.u-large-text {
  font-size: 45px;
}

.u-medium-text {
  font-size: 30px;
}

.u-small-text {
  font-size: 15px;
}

.u-tiny-text {
  font-size: 5px;
}

.u-full-width {
  width: 100%;
}

.u-full-height {
  height: 100%;
}

.u-scroll-y {
  overflow-y: auto;
}
